{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href=" {% static "css/style.css" %}" type="text/css">
</head>
<body>
<div class="body_div">
    <h1>This is main page.</h1>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium assumenda at atque fuga magni, minus modi nesciunt officia reiciendis repellendus sed voluptates voluptatum. A aliquam amet aperiam autem corporis cumque cupiditate dolorum fugiat harum impedit iure laborum laudantium libero maxime, necessitatibus nobis nostrum pariatur! Aut ducimus rem sequi vitae.</p>
    <ul>
    <li><a href="/first" class="link">Go to first page.</a></li>
    <li><a href="/second" class="link">Go to second page.</a></li>
    <li><a href="/third" class="link">Go to third page.</a></li>
  </ul>
</div>
</body>
</html>