{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>third</title>
    <link rel="stylesheet" href=" {% static "css/style.css" %}" type="text/css">
</head>
<body>
<div class="body_div">
    <h1>This is third page.</h1>
<h1 class="body_content">3</h1>
    <ul>
    <li><a href="/" class="link">Go to main page.</a></li>
    <li><a href="/first" class="link">Go to first page.</a></li>
    <li><a href="/second" class="link">Go to second page.</a></li>
  </ul>
</div>
</body>
</html>